$headerButtonBorderColor: #262626;
$navBarBackgroundColor: rgba(26, 26, 26, 1);
$headerBorderColor: #262626;
$headerButtonHoverBackground: #141414;
$footerBackgroundColor: #141414;
$footerInputColor: #999;
$footerPagesLinkName: #999;
$footerSocialMediaBackground: rgba(26, 26, 26, 1)