$headerButtonBorderColor: #262626;
$navBarBackgroundColor: rgba(26, 26, 26, 1);
$headerBorderColor: #262626;
$headerButtonHoverBackground: #141414;
$footerBackgroundColor: #141414;
$footerInputColor: #999;
$footerPagesLinkName: #999;
$footerSocialMediaBackground: rgba(26, 26, 26, 1);
$achievementsCardBackgroundColor: #1A1A1A;
$achievementsCardBorderColor: #262626;
$achievementsCardTextColor: #999;
$achievementsImageColor: linear-gradient(238deg, #2A213F 8.76%, rgba(25, 25, 25, 0.00) 50.09%),
url(<path-to-image>),
lightgray 50% / cover no-repeat;
$featuresPropertiesBackgroundColor: #141414;
$offersBackgroundColor: #141414;
$offersCardBackgroundColor: #1A1A1A;
$offersCardBorderRadiusColor: #262626;
$featuresPropertiesCardBorder: #262626;
$featuresPropertiesCardTextHeader: #FFF;
$featuredPropertiesCardText: #999;
$featuredPropertiesCardRoomBorder: #262626;
$featuredPropertiesCardRoomBackground: #1A1A1A;
$featuredPropertiesCardPriceAndButtonHeader: #999;
$featuredPropertiesCardButton: #703BF7;
$featuredPropertiesCardPriceText: #FFF;
$paginationButtonBackground: #1A1A1A;
$paginationButtonBorder: #262626;
$paginationButtonsBorder: #262626;
$paginationButtonsTextColor: #FFF;