
.achievementsLeftContainerHeaderText{
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 72px */
  color: white;
}

.achievementsLeftContainerText{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  color: #999;
}