@import '../../../../UI/colors/colors';

.footerRequestFormInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 18px 24px;
  border: 1px solid $headerButtonBorderColor;
  border-radius: 12px;
}

.footerRequestInput{
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: $footerInputColor;
}

.footerRequestInputSpan{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}