@import 'src/components/UI/colors/colors';

.featuredPropertiesHeader{
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.featuredPropertiesContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.featuredProperties{
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 160px;
  background-color: $featuresPropertiesBackgroundColor
}