@import 'src/components/UI/colors/colors';

.headerNavBar{
  width: 100%;
  height: 99px;
  background-color: $navBarBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerNavBarContainer{
  width: calc(100% - 324px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}