@import 'src/components/UI/colors/colors';

.blackButton{
  width: 136px;
  height: 59px;
  background-color: $headerButtonHoverBackground;
  border: 1px solid $headerButtonBorderColor;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}