@import 'src/components/UI/colors/colors';

.headerBanner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: $navBarBackgroundColor;
}

.headerBannerImage{
  position: absolute;
  width: 100%;
  fill: #666;
}


.headerBannerText{
  z-index: 2;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: white;
}

.headerBannerLearnMore{
  z-index: 2;
  padding-left: 10px;
  font-size: 18px;
  text-decoration: underline;
  color: white;
}
