@import 'src/components/UI/colors/colors';

.footerRequestInputContainer{
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid $headerButtonBorderColor
}

.footerRequestInput{
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: $footerInputColor;
}