@import 'src/components/UI/colors/colors';

.ourAchievements {
  display: flex;
  padding-left: 162px;
  align-items: center;
  background-color: $footerBackgroundColor;
  justify-content: center;
  gap: 80px;
}
