

.ourAchievementsCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  padding: 16px 24px;
  flex: 1 0 0;
  background: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 12px;
}

.ourAchievementsCardHeader{
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  color:  #FFF;
}

.ourAchievementsCardText{
  align-self: stretch;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  color: #999;
}