@import '../colors/colors';

@mixin standardButtonStyle(
  $padding,
  $backgroundColor,
  $border,
  $borderRadius,
  $hoverBackgroundColor,
  $hoverBorder,
  $hoverBorderRadius
) {
  padding: $padding;
  background-color: $backgroundColor;
  border: $border;
  border-radius: $borderRadius;
  color: white;
  &:hover {
    background-color: $hoverBackgroundColor;
    border: $hoverBorder;
    border-radius: $hoverBorderRadius;
  }
}

@mixin buttonTextStyle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  color: #FFF;
}

.headerNavBarButton {
  @include standardButtonStyle(
                  18px 24px,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  10px,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  12px,
  );
  @include buttonTextStyle;
}


.headerNavBarPageButton {
  @include standardButtonStyle(
                  none,
                  transparent,
                  none,
                  none,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  10px
  );
  @include buttonTextStyle;
  width: 96px;
  height: 55px;
}

.ourAchievementsButton {
  @include standardButtonStyle(
                  18px 24px, #703BF7, none, 10px, none, none, none
  );
  @include buttonTextStyle;
}