@import "buttonsMixins";
@import '../colors/colors';

.headerNavBarButton {
  @include standardButtonStyle(
                  18px 24px,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  10px,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  12px,
  );
  @include buttonTextStyle;
}


.headerNavBarPageButton {
  @include standardButtonStyle(
                  none,
                  transparent,
                  none,
                  none,
                  $headerButtonHoverBackground,
                  1px solid $headerButtonBorderColor,
                  10px
  );
  @include buttonTextStyle;
  width: 96px;
  height: 55px;
}

.ourAchievementsButton {
  @include standardButtonStyle(
                  18px 24px,
                  #703BF7,
                  none,
                  10px,
                  none,
                  none,
                  none
  );
  @include buttonTextStyle;
}

.featuresPropertiesButton {
  @include standardButtonStyle(
                  18px 24px,
                  #1A1A1A,
                  1px solid #262626,
                  10px,
                  none,
                  none,
                  none
  )
}

.featuredPropertiesCardButton {
  @include standardButtonStyle(
                  18opx 24px,
                  $featuredPropertiesCardButton,
                  none,
                  10px,
                  $featuredPropertiesCardButton,
                  none,
                  10px
  );
  @include buttonTextStyle;
  width: 100%;
}