.purpleButton{
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 63px;
  cursor: pointer;
  border-radius: 10px;
  background: #703BF7;
  color: white;
  border: none;
}